* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  height: 100dvh;
  background-image: linear-gradient(to top, rgb(147, 208, 216), rgb(195, 216, 219));
}