.climaContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(51 54 55 / 20%);    
    width: 100%;
    flex-grow: 1;
    border-radius: 10px;
}

.containerInfo {
    text-align: center;
}

.climaContainer p {
    color: rgb(26, 26, 26);
}

.climaContainer img {
    max-width: 50%;
    padding: 10px;
    border-radius: 10px;
}

.climaCidade {
    font-size: 2em;
}

.climaCidade img{
    position: relative;
    top: 15px;
    width: 50px;
}

.climaTemp {
    font-size: 7em;
    font-weight: bold;
    font-style: italic;
    text-shadow: 3px 3px 10px #0000005e;
}

.climaTempo {
    font-size: 1em;
}

.climaHumidity {
    display: flex;
    align-items: center;
    justify-content: center;
}

.climaHumidity img {
    width: 40px;
}